body{
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgb(68, 71, 189);
    background-color: rgb(135, 172, 197);
}
h2{
    color: rgb(68, 71, 189);
    padding: outo;
}

.t1{
    color: rgb(68, 71, 189);
}
.k1{
    color: rgb(66, 66, 202);
}
.k2{
    color: rgb(73, 135, 177);
}
.t2{
    font-weight: bolder;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
img{
    right: 50px;
    position: absolute;
    top: 2.2cm;
}
