h1,h2{
    color: rgb(70, 70, 207);
}
body{
    background-color: rgb(139, 121, 94);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.t1{
    color: #d86060;
}
.anh1{
    width: 30%;
}
.anh2{
    width: auto;
}
.mood {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}
.anh{
    display: flex;
    align-items: flex-end; 
    margin: 0 20px; 
}
.anh p {
    font-size: 1.2em;
    margin: 0;
}
.anh img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
    border-radius: 10px;
    margin-left: 10px; /* Tạo khoảng cách giữa chữ và hình ảnh */
}
